@import url('https://fonts.googleapis.com/css2?family=Nunito:ital@0;1&family=Raleway:ital@0;1&display=swap');

:root {
  --btn-bg-color: #007bff;
  --btn-text-color: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Nunito", "Raleway", sans-serif;
  background-color: #eeeeee;
  transition: all 0.3s;
}

.app {
  width: 100%;
  height: 100vh;
}

.container {
  width: 100%;
  padding: 1rem 2rem;
}

.text-center {
  text-align: center;
}

.w-100 {
  width: 100%;
}

.h-100 {
  height: 100%;
}

.m-0 {
  margin: 0 !important;
}

.mx-1 {
  margin-inline: 0.5rem !important;
}

.my-1 {
  margin-block: 0.5rem !important;
}

.mx-2 {
  margin-inline: 1rem !important;
}

.my-2 {
  margin-block: 1rem !important;
}

.ms-1 {
  margin-inline-start: 0.5rem !important;
}

.me-1 {
  margin-inline-end: 0.5rem !important;
}

.mt-auto {
  margin-top: auto !important;
}

.mt-1 {
  margin-block-start: 0.5rem !important;
}

.mb-1 {
  margin-block-end: 0.5rem !important;
}

.ms-1 {
  margin-inline-start: 1rem !important;
}

.me-1 {
  margin-inline-end: 1rem !important;
}

.mt-1 {
  margin-block-start: 1rem !important;
}

.mb-1 {
  margin-block-end: 1rem !important;
}

.p-0 {
  padding: 0 !important;
}

.px-1 {
  padding-inline: 0.5rem !important;
}

.py-1 {
  padding-block: 0.5rem !important;
}

.px-2 {
  padding-inline: 1rem !important;
}

.py-2 {
  padding-block: 1rem !important;
}

.ps-1 {
  padding-inline-start: 0.5rem !important;
}

.pe-1 {
  padding-inline-end: 0.5rem !important;
}

.pt-1 {
  padding-block-start: 0.5rem !important;
}

.pb-1 {
  padding-block-end: 0.5rem !important;
}

.ps-1 {
  padding-inline-start: 1rem !important;
}

.pe-1 {
  padding-inline-end: 1rem !important;
}

.pt-1 {
  padding-block-start: 1rem !important;
}

.pb-1 {
  padding-block-end: 1rem !important;
}

.d-flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.flex-row {
  flex-direction: row;
}

.gap-1 {
  gap: 1.5rem;
}

.gap-2 {
  gap: 2.5rem;
}

.justify-center {
  justify-content: center;
}

.align-items-center {
  align-items: center;
}

.title {
  font-size: 2.5rem;
}

.subtitle {
  font-size: 1.5rem;
}

.btn {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  margin: 0.5rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;
  color: var(--btn-text-color);
  background-color: var(--btn-bg-color);
  cursor: pointer;
}

.btn-danger {
  --btn-bg-color: #d9534f;
}

.btn-primary {
  --btn-bg-color: #0275d8;
}

.btn-success {
  --btn-bg-color: #5cb85c;
}

.btn-warning {
  --btn-bg-color: #f0ad4e;
}